.img2 {
	border: 2px solid white;
	text-align: center;
	font-size: 12px;
}

.imgcol2 {
	width: 100%;
	height: 100%;
	border-style: double; 
	border-width: 4px;
	border-color: #CCCCCC;
}

a{
	text-decoration: none;
}

.container{
	margin-bottom: 20px;
}
.icons2{
	padding: 10px;
}

.gray {
	border:1px solid #DDDDDD;
	margin: 5px 0 20px 0;
}

.icons{
	font-size: 18px;
	color: #55556A;
	margin-top: 20px;
}
.ultimo{
	margin-top: 20px;
}
.icons-1{
	font-size: 14px;
	color: black;
	margin-top: 16px;
	line-height: 20px;
}

.icons1{
	list-style: none;
}

.png{
	width: 12px;
}

.icons2{
	font-size: 15px;
}
.itex{
	text-decoration: none;
}
.footer{
	width: 100%;
	height: 100%;
	background-color: #585858;
	clear: both;
	padding: 30px 10px 20px 20px;
}

.enlace {
	display: inline-block;
	margin: 0 auto;
	width: 100%;
	font-size: 13px;
	font-family: tahoma;
	color: white;
	margin-left: 200px;
}

.boton {
	list-style: none;
	float: left;
	margin: 10px;
	position: relative;
}

.tex1{
	font-size: 12px;
	color: #BDCCCC;
	text-decoration:none;
	margin: 0 auto;

}

.pie{
	list-style: none;
	float: left;
	font-family: tahoma;
	position: relative;
	font-size: 13px;
	color: white;
	line-height: 30px;
}

.copy{
	font-size: 11px;
	font-family: tahoma;
	color: #999990;
	margin: 20px 0 0 240px;
}

.foot	{
    margin-bottom: 21px;
}