* {
	margin:0;
	padding:0;
}

header {
	background:#333333;
}

.logo {
	width:70px;
	float:left;
	margin-top:20px;
	margin-bottom:20px;
	margin-left:10px;
}

.text-header {
	margin-top:50px;
	margin-left:15px;
	color: #FFFFFF;
}

nav ul {
	list-style:none;
}

nav ul li a {
	display:block;
	text-decoration:none;
	float:left;
}

.more {
	text-decoration:none;
	color:#1728C7;
	font-size:16px;
	margin-left:18px;
}

.new {
	background-color:#EEEEEE;
	height:400px;
}

h2 {
	color:#333333;
	margin-bottom:30px;
	font-size:29px;
}

.col-3 img{
	width:230px;
	height:230px;
	margin:0px -12px;
	border:6px solid #FFF;
}

.texto {
	left:100px;
	top:600px;
	color:#1728C7;
	text-align:center;
	font-size:20px;
}

.img2 {
	border: 2px solid white;
	text-align: center;
	font-size: 12px;
}

.imgcol2 {
	width: 100%;
	height: 100%;
	border-style: double; 
	border-width: 4px;
	border-color: #CCCCCC;
}

a{
	text-decoration: none;
}

.container{
	margin-bottom: 20px;
}
.icons2{
	padding: 10px;
}

.gray {
	border:1px solid #DDDDDD;
	margin: 5px 0 20px 0;
}

.icons{
	font-size: 18px;
	color: #55556A;
	margin-top: 20px;
}
.ultimo{
	margin-top: 20px;
}
.icons-1{
	font-size: 14px;
	color: black;
	margin-top: 16px;
	line-height: 20px;
}

.icons1{
	list-style: none;
}

#png{
	width: 30px;
	height: 30px;
}

.icons2{
	font-size: 15px;
}
.itex{
	text-decoration: none;
}
.footer{
	width: 100%;
	height: 100%;
	background-color: #585858;
	clear: both;
	padding: 30px 10px 20px 20px;
}

.enlace {
	display: inline-block;
	margin: 0 auto;
	width: 100%;
	font-size: 13px;
	font-family: tahoma;
	color: white;
	margin-left: 200px;
}

.boton {
	list-style: none;
	float: left;
	margin: 10px;
	position: relative;
}

.tex1{
	font-size: 12px;
	color: #BDCCCC;
	text-decoration:none;
	margin: 0 auto;

}

.pie{
	list-style: none;
	float: left;
	font-family: tahoma;
	position: relative;
	font-size: 13px;
	color: white;
	line-height: 30px;
}

.copy{
	font-size: 11px;
	font-family: tahoma;
	color: #999990;
	margin: 20px 0 0 240px;
}

.foot	{
    margin-bottom: 21px;
}