* {
	margin:0;
	padding:0;
}

header {
	background:#333333;
}

.logo {
	width:70px;
	float:left;
	margin-top:20px;
	margin-bottom:20px;
	margin-left:10px;
}

.text-header {
	margin-top:50px;
	margin-left:15px;
	color: #FFFFFF;
}

nav ul {
	list-style:none;
}

nav ul li a {
	display:block;
	text-decoration:none;
	float:left;
}

.more {
	text-decoration:none;
	color:#1728C7;
	font-size:16px;
	margin-left:18px;
}

.new {
	background-color:#EEEEEE;
	height:400px;
}

h2 {
	color:#333333;
	margin-bottom:30px;
	font-size:29px;
}

.col-3 img{
	width:230px;
	height:230px;
	margin:0px -12px;
	border:6px solid #FFF;
}

.texto {
	left:100px;
	top:600px;
	color:#1728C7;
	text-align:center;
	font-size:20px;
}